{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}<link rel="shortcut icon" type="image/png" href="{% static "img/icon.png" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% load static %}<link rel="stylesheet" type="text/css" href="{% static "css/theme.css" %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'Home' %}" class="nav-link px-2 text-white">EndEmic</a></li>
          <li class="nav-link px-2 text-white">|</li>
          <li><a href="{% url 'Catalog' %}" class="nav-link px-2 text-white">Catalog</a></li>
          <li class="nav-link px-2 text-white">|</li>
          <li><a href="{% url 'Map' %}" class="nav-link px-2 text-white">Map & Firm</a></li>
        </ul>

<!--        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">-->
<!--          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">-->
<!--        </form>-->



        {% if user.is_authenticated %}

        <div class="text-end">

                <button type="button" id="openDialog" class="btn btn-warning">
                    {{ user.username }}
                </button>
                      <dialog>
                        <p>Вы действительно хотите выйти из аккаунта?</p>
                        <p><button onclick="document.location='{% url 'logout' %}'">Выйти из аккаунта</button></p>
                        <p><button id="closeDialog">Закрыть окно</button></p>
                      </dialog>
            <script>
                       var dialog = document.querySelector('dialog');
                       document.querySelector('#openDialog').onclick = function() {
                        dialog.show();
                       }
                       document.querySelector('#closeDialog').onclick = function() {
                        dialog.close();
                       }
            </script>
          </div>

        {% else %}

        <div class="text-end">

                <button type="button" class="btn btn-warning" onclick="document.location='{% url 'login' %}'">
                    Log In
                </button>

        </div>
        {% endif %}



      </div>
    </div></header>




  {% block body %}{% endblock %}

  <footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4" style="display: flex; justify-content:center;">
    <!--Grid row-->
    <div class="row">
        <h5 class="text-uppercase"><center>EndEmic</center></h5>
        <p>
          <center>
            Развивающаяся компания, предоставляющая услуги продажи товаров в сети.
          </center>
        </p>
      </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="">EndEmic</a>
  </div>
  <!-- Copyright -->
</footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>